.App {
  display : grid;
  grid-template-columns: 1fr 1fr;
  width : 700px;
}

.App .layer-detail {
  width : 300px;
  grid-column : 2;
  grid-row : 1 / span 3;
  border : 1px solid blue;
}

.App .layer-detail:empty {
  border : 0
}
